# --- Project files

# data directory
/data/*
!*.dvc

# log files
*.log

# --- Jupyter files

.ipynb_checkpoints
.jupyter/migrated
.jupyter/nbconfig

# --- Python files

# compiled source
*.pyc

# testing
.cache
.coverage
.coverage.*
.pytest_cache

# --- Julia files

Manifest.toml

# --- Miscellaneous

# direnv
.direnv
.envrc

# vim
# autoenv
.env

.*.swp

# macOS
.DS_Store*
