# --- Project files

# data directory
data/*

# log files
*.log

# --- Jupyter files

.ipynb_checkpoints
.jupyter/migrated

# --- Python files

# compiled source
*.pyc

# testing files
.cache
.coverage
.coverage.*
.pytest_cache

# --- Miscellaneous

# autoenv files
.env

# vim files
.*.swp

# macOS files
.DS_Store*
