PROJECT NAME
============

___Authors___  
CONTRIBUTOR NAME `<contributor@example.com>`

------------------------------------------------------------------------------

Table of Contents
-----------------

1. [Overview][#1]

    1.1. [Software Dependencies][#1.1]

    1.2. [License][#1.2]

2. [Usage][#2]

3. [Known Issues][#3]

------------------------------------------------------------------------------

## 1. Overview

PLACEHOLDER

### 1.1. Software Dependencies

#### Base Requirements

* Python (>=3.7)

#### Python Packages ####

See the `requirements.txt` file.

### 1.2. License

See the LICENSE file for copyright and license information.

------------------------------------------------------------------------------

## 2. Usage

------------------------------------------------------------------------------

## 3. Known Issues

PLACEHOLDER

------------------------------------------------------------------------------

[-----------------------------INTERNAL LINKS-----------------------------]: #

[#1]: #1-overview
[#1.1]: #11-software-dependencies
[#1.2]: #12-license

[#2]: #2-usage

[#3]: #3-known-issues

