# Code quality
coverage
pycodestyle
pylint
pytest
pytest-cov
pytest-pycodestyle
pytest-pylint
pytest-xdist
radon

# Interactive environments
ipython
jupyter

# Basic utility packages
PyYAML

# Data science packages
matplotlib
numpy
pandas
scikit-learn
scipy
seaborn
